
/*img {
  margin: 10px;
  width: 200px;
}*/

a{
  padding: 25px;
}

input {
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  border-style: solid;
  border-color: lightgrey;
}


#search-input {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
  /*margin: 0 auto;*/

}

#lightgallery {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

/********************************
Media Queries
********************************/
/* @media (min-width: 468px;) {

} */

@media (min-width: 769px) {

  input {
    width: 45%;
  }

  /*img {
    margin: 25px;
  }*/

  img {
    width: 200px;
  }

}

@media (min-width: 1025px) {



 .container {

   max-width: 1050px;
   margin: auto;
 }
}
