input {
  border-radius: 5px;
  padding: 10px;
  width: 45%;
}

.search-input {
  text-align: center;
  /*margin: 0 auto;*/
  margin-top: 100px;
  margin-bottom: 10px;
}

.light-box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

/********************************
Media Queries
********************************/

@media (min-width: 769px) {

}

@media (min-width: 1025px) {

  img {
    margin: 25px;
  }

 .container {

   max-width: 1050px;
   margin: auto;
 }
}
